<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="d-flex flex-row text-light">
        {{!<a class="navbar-brand mx-2" href="/">Veilwalkers</a>}}
        <a class="navbar-brand mx-2" href="/"><img src="img/titulowhite.png" width="100px"></a>
        <a class="nav-link mx-2 mt-2" href="/beta">Unete a <br>nuestra BETA</a>
        {{!<a class="nav-link mx-2 mt-2" href="/dev">Dev Blog</a>}}
    </div>
    <div class="d-flex flex-reverse">
        {{!<a class="nav-link mx-2" href="">FB</a>}}
        <a class="nav-link mx-1" href="https://www.facebook.com/"><img src="img/facebook.png" width="40px" height="40px"></a>
        <a class="nav-link mx-1" href="https://www.instagram.com/"><img src="img/instagram.png" width="40px" height="40px"></a>
        <a class="nav-link mx-1" href="https://www.twitter.com/"><img src="img/twitter.png" width="40px" height="40px"></a>
        <a class="nav-link mx-1" href="https://www.tiktok.com/"><img src="img/tiktok.png" width="40px" height="40px"></a>
        <a class="nav-link mx-1" href="https://www.youtube.com/"><img src="img/youtube.png" width="40px" height="40px"></a>
    </div>
</nav>