{{! separador}}
<div class="d-flex justify-content-center m-5">
<img src="img/separador.png" width="15%">
</div>

{{! banner}}
<div class="d-flex justify-content-center">
<img src="img/titulowhite.png" width="30%">
</div>


{{! separador}}
<div class="d-flex justify-content-center m-5">
<img src="img/separador2.png" width="30%">
</div>

{{! mensaje}}
<div class="container text-light">
    <div class="d-flex justify-content-center mb-3">
        <h2> Te has suscrito a nuestra beta cerrada, nos comunicaremos proximamente a través de un mail que contendrá las instrucciones de acceso. Muchas gracias.</h2>
    </div>
</div>
